<%= render 'shared/page_title', title: "Chef #{@chef.name} profile" %>
<div class="row justify-content-center">
  <div class="col-md-2 card">
    <section class="center chef_info">
      <%= image(150) %>
    </section>
  </div>
</div>
<div class="row card">
  Email: <%= @chef.email %>
</div>

<%= render 'shared/will_paginate', objects: @chef_recipes %>

<div align="center">
  <% if @chef_recipes.count > 0 %>
    <%= render 'recipes/list_recipes', recipes: @chef_recipes, show_chef_image: false %>
  <% else %>
    <p>No recipes have been created</p>
  <% end %>
</div>

<%= render 'shared/will_paginate', objects: @chef_recipes %>