<% recipes.each do |recipe| %>
  <div class="row">
      <% if show_chef_image %>
        <div class="col-md-2 card">
          <section class="center chef_info">
            <%= image(120) %>
          </section>
        </div>
      <% end %>
      <div class="col-md well card">
        <h4><%= link_to(recipe.name.capitalize, recipe_path(recipe)) %></h4>
        <p><%= truncate(recipe.description, length: 150) %></p>
        <div class="row">
          <% if logged_in? && (recipe.chef.id == current_chef.id || current_chef.admin?) %>
            <div class="col">
              <%= link_to "Edit", edit_recipe_path(recipe),
                          class: 'btn btn-xs btn-warning text-white' %>
              <%= link_to "Delete", recipe_path(recipe), method: :delete,
                          data: { confirm: "Are you sure you want to delete?" },
                          class: "btn btn-xs btn-danger text-white" %>
            </div>
          <% end %>
        </div>
        <span class="quite">
          Created <small><%= time_ago_in_words(recipe.created_at) %> ago</small>
        </span>
      </div>
  </div>
<% end %>