<%= render 'shared/page_title', title: @recipe.name.capitalize %>

<div class="well col card">
  <h4 class="center description">
    <strong> Steps: </strong>
  </h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <div class="float-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to image(100), chef_path(@recipe.chef) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.name.capitalize %> </small>
      <div class="center"><%= time_ago_in_words(@recipe.created_at) %> ago </div>
    </p>
    <div class="row justify-content-center">
      <div class="col-md-5 center bottom-margin">
        <%= link_to "Show all recipes", recipes_path,
                    class: 'btn btn-xs btn-primary text-white' %>
        <% if logged_in? && (@recipe.chef.id == current_chef.id || current_chef.admin?) %>
          <%= link_to "Edit", edit_recipe_path(@recipe),
                      class: 'btn btn-xs btn-warning text-white' %>
          <%= link_to "Delete", recipe_path(@recipe), method: :delete,
                      data: { confirm: "Are you sure you want to delete?" },
                      class: "btn btn-xs btn-danger text-white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if logged_in? %>
  <div class="row justify-content-center">
    <div class="col">
      <hr />
      <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal",
                                                role: "form"}) do |f| %>
        <div class="form-group">
          <div class="col">
            <%= f.text_area :description, rows: 8, class: "form-control",
                                      placeholder: "Enter comment here" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Submit comment",
                              class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  </div>
<% end %>
<% if @recipe.comments.count > 0 %>
  <div class="row justify-content-center">
    <h3 class="bottom-margin">Comments:</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: 'comments/comments', object: @comments %>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-2 center">
      No comments have been added.
    </div>
  </div>
<% end %>