<%= render 'shared/page_title', title: @recipe.name.capitalize %>

<div class="well col card">
  <h4 class="center description">
    <strong> Steps: </strong>
  </h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <div class="float-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to image(100), recipe_path(@recipe) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.name.capitalize %> </small>
      <div class="center"><%= time_ago_in_words(@recipe.created_at) %> ago </div>
    </p>
    <div class="row justify-content-center">
      <div class="col-md-5 center bottom-margin">
        <%= link_to "Show all recipes", recipes_path,
                    class: 'btn btn-xs btn-primary text-white' %>
        <%= link_to "Edit", edit_recipe_path(@recipe),
                    class: 'btn btn-xs btn-warning text-white' %>
        <%= link_to "Delete", recipe_path(@recipe), method: :delete,
                    data: { confirm: "Are you sure you want to delete?" },
                    class: "btn btn-xs btn-danger text-white" %>
      </div>
    </div>
  </div>
</div>