<%= render 'shared/page_title', title: @recipe.name %>

<div class="well col card">
  <h4 class="center description">
    <strong> Steps: </strong>
  </h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <div class="float-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to image(100), recipe_path(@recipe) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.name.capitalize %> </small>
      <div class="center"><%= time_ago_in_words(@recipe.created_at) %> ago </div>
    </p>
  </div>
</div>