<%= render 'shared/page_title', title: "Chef's chat" %>

<div class="row message-container">
  <%= form_for(@message, :html => {class: "form-horizontal col-md-6",
                                        role: "form"}) do |f| %>
    <%= f.text_area :content, class: "form-control",
                                placeholder: "Write a message..." %>
    <%= f.submit "Send", class: 'btn btn-primary col-md-2 button-margin' %>
  <% end %>
</div>

<div class="row chat-container">
  <div class="col">
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
  </div>
</div>